body {font-family: 'Noto Serif Display', serif;}

body, html 
{
    margin: 0;
    padding: 0;
}

header
{
    width: 100%;
    height: 70px;
    background-color: rgb(150, 161, 209);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

nav
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

ul
{
    width: auto;
    margin-top: 20px;
    float: right;
    z-index: 2;
}

li
{
    display: inline-block;
    padding: 15px 30px;
    z-index: 2;
}

li.imgEl
{
  float: left;
  margin-left: -1000px;
  margin-top: -35px;  
  z-index: 2;
}

a.special
{
    text-align: center;
    color: white;
    font-family: 'Noto Serif Display', serif;
    text-decoration: none;
    font-size: x-large;
}

a:hover
{
    color: rgb(57, 66, 103);
    transition: 0.5s;
}

.menu
{
    margin-top: -18px;
    margin-left: -18px;
}

img.main
{
    margin-left: 370px;
    width: max-content;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 120px;
}

.container
{
    position: relative;
    column-count: 4;
    padding: 20px;  
}

.image
{
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    z-index: 0;
}

img.images
{
    width: 80%;
    transition: 0.25s ease-in-out;
}

.image:hover img
{
    transform: scale(1.1);
}

h1 
{
    position: absolute;
    padding: 5px;
    margin: 5px;
    font-size: 25px;
    background: #5c5c5c;
    color: white;
    border-radius: 5px;
    opacity: 0;
    z-index: 1;
    transition: 0.25 ease-in-out;
}

.image:hover h1 
{
    opacity: 0.5;
}

p.likes
{
    display: inline;
    color: rgb(57, 66, 103);
}

.icons
{
    display: inline;
    margin-left: 80px;
}

.icons:hover
{
    opacity: 0.5;
    cursor: pointer;
}

@media screen and (max-width:1024px)
{
    h1 
    {
        font-size: 20px;
    }
}

@media screen and (max-width:768px)
{
    .container
    {
        column-count: 3;
    }
    .menu 
    {
        margin-top: -12px;
        width: -30%;
    }
}

@media screen and (max-width:425px)
{
    .container
    {
        column-count: 2;
    }
    h1 
    {
        font-size: 12px;
    }
    .menu 
    {
        margin-top: -10px;
        width: -40%;
    }
}

@media screen and (max-width:375px)
{
    .container
    {
        column-count: 1;
    }
    h1 
    {
        font-size: 15px;
    }
    .menu 
    {
        margin-top: -6px;
        width: -70%;
    }
}

footer
{
    margin-top: 100px;
    background-color: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: black;
    margin-left: 20px;
}

button
{
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(57, 66, 103);
    font-family: 'Noto Serif Display', serif;
    font-size: small;
    width: fit-content;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 120px;
}

button:hover
{
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(250, 244, 215);
    font-family: 'Noto Serif Display', serif;
    font-size: small;
    width: fit-content;
    color: black;
    margin-top: 12px;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.6s;
  }


#img1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img1:hover {opacity: 0.7;}

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  #img2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img2:hover {opacity: 0.7;}

  #img3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img3:hover {opacity: 0.7;}

  #img4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img4:hover {opacity: 0.7;}

  #img5 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img5:hover {opacity: 0.7;}

  #img6 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img6:hover {opacity: 0.7;}

  #img7 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img7:hover {opacity: 0.7;}

  #img8 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img8:hover {opacity: 0.7;}

  #img9 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img9:hover {opacity: 0.7;}

  #img10 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img10:hover {opacity: 0.7;}

  #img11 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img11:hover {opacity: 0.7;}

  #img12 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img12:hover {opacity: 0.7;}

  #img13 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img13:hover {opacity: 0.7;}

  #img14 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img14:hover {opacity: 0.7;}

  #img15 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img15:hover {opacity: 0.7;}

  #img16 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img16:hover {opacity: 0.7;}

  #img17 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #img17:hover {opacity: 0.7;}